script(type="text/ng-template", id="game.html")

	.md-toolbar-tools(flex="100", layout="column", layout-align="center center")
		//- current auction
		div(ng-if="auction")
			p.md-display-2
				span {{auction.quantity}} 
				i(class="{{auction.icon}}") 
				span for {{auction.bid || auction.min_bid}} 
				i.flaticon-coins 
			p.md-subhead
				span From {{auction.seller_name}}. Only {{auction.timeLeft}}s left

		//- winner
		div(ng-if="!auction && latest && latest.winner")
			p.md-display-2
				span {{latest.winner_name}} won!
			p.md-subhead
				span {{latest.seller_name}} sold {{latest.quantity}} 
				i(class="{{latest.icon}}") 
				span for {{latest.bid}} 
				i.flaticon-coins 

		//- no auctions
		div(ng-if="!auction && (!latest || !latest.winner)")
			p.md-subhead There are no active auctions. Sell something to start new one.

		md-button.md-fab.md-raised.md-accent.auction-button(ng-disabled="!auction || !canBet", aria-label="Bet", ng-click="doBet($event)")
			md-icon.fa.fa-thumbs-up
