script(type="text/ng-template", id="home.html")

    div(layout="column")
        md-toolbar.md-primary.md-hue-1.auction-status
        md-toolbar.md-primary.auction-stats(layout="column")
            auction-stats
        md-toolbar.md-primary.auction-primary(layout="column")
            auction-game
        md-content.auction-secondary
            auction-inventory
