script(type="text/ng-template", id="inventory.html")
	div
		ul.inventory-items
			li(ng-repeat="i in inventory", layout="row")
				.inventory-item-icon(layout="row", layout-align="center center")
					i(class="{{i.icon}}")
				.inventory-item-info(flex)
					h2.md-title {{i.item}}
					p.md-subhead {{i.quantity}} items
				.inventory-item-action
					md-button(ng-click="startAuction(i, $event)") Sell
		
		.auction-secondary-annotation(layout="row", ng-show="loading", align-children="center")
			md-button(aria-label="Inventory Loading", flex, ng-disabled="true")
				span Loading 
				i.fa.fa-circle-o-notch.fa-spin.faster
