script(type="text/ng-template", id="login.html")

    div(layout="column")
        md-toolbar.md-primary.md-hue-1.auction-status
        md-toolbar.md-primary.auction-stats
        md-toolbar.md-primary.auction-primary(layout="column")
            .md-toolbar-tools(flex="100")
                form(flex="100", name="loginform", ng-submit="submit(login)")
                    div(layout="row", layout-align="center")
                        div(flex)
                        div(flex="40")
                            md-input-container.md-block.md-title
                                label Your Name
                                input(required, type="text", name="loginName", ng-model="login.name", minlength="3", maxlength="50")
                        div(flex)
                    md-button.md-fab.md-raised.md-accent.auction-button(type="submit", aria-label="Login", ng-disabled="signupform.$invalid || loading")
                        md-icon.fa.fa-circle-o-notch.fa-spin.faster(ng-show="loading") 
                        md-icon.fa.fa-sign-in(ng-show="!loading")
        md-content.auction-secondary
            div(layout="row", layout-align="center center")
                .auction-secondary-annotation
                    span To join Crossover Auction Game type your name and press the button.
    
