body, html
    background-color: #f9f9f9

.auction-status
    height: 25px
    min-height: 25px

.auction-stats
	min-height: 60px
	padding: 0 15px

.auction-primary
    min-height: 180px
    padding-bottom: 20px
    position: relative
    text-align: center

    .md-display-2
    	margin: 0

    .md-subhead
    	margin: 0

.auction-button
	position: absolute
	top: 180px
	left: 50%
	margin-left: -28px !important
	margin-top: -28px !important

	&[disabled]
		background-color: #dadada !important


.auction-secondary
	min-height: 100px

.auction-secondary-annotation
	padding: 40px

.inventory-items
	margin: 0
	padding: 0

	li
		padding: 25px 15px
		border-bottom: 1px solid #d9d9d9

	.inventory-item-icon i
		color: #717171
		font-size: 30px
		margin-right: 15px

	.inventory-item-info
		.md-title
			color: #212121
			font-size: 16px
			margin: 0
		.md-subhead
			color: #727272
			font-size: 15px
			margin: 0

md-dialog.auction-dialog
    width: 400px

// Font Awesome
md-icon.fa
	font-size: 24px

.fa-spin.faster
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear; 
    